.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 150px; /* Full-width */
    height: 10px; /* Specified height */
    background: black; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */


}
.button {
  background-color: black; /* Green */
  border: none;
  color: red;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: red; 
  border: 2px solid red;
}

.button1:hover {
  background-color: red;
  color: white;
}
